<a href="https://colab.research.google.com/github/veli-sethiya/machine-learning/blob/main/basicsOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python fundamentals

### print() function

print("Acropolis")

### Comments

In [ ]:
# First Program
print("Acropolis")

Acropolis

### Variables

In [ ]:
# In Python there is no need to mention the data type

var1 = 20      # An integer assignment
var2 = 4.123   # A floating point
var3 = "India" # A string

print(var1,' ',var2,' ',var3)

20   4.123   India

### Assignment

In [ ]:
# general syntax
#variable-name=value

# Assigning same value to multiple variables

var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

# Assigning Different values to variable in a single expression

var1, var2, var3 = 1, 2.5, "Sachin"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

1   1   1
1   2.5   Sachin

### Taking input

In [ ]:
firstname = input("Enter your first name: ")
lastname = input("Enter your second name: ")
semester = input("Enter your semester: ")

Enter your first name: Janesh
Enter your second name: Hasija
Enter your semester: 6

In [ ]:
# run below code
age = input("Enter your age: ")
age = int(age)+5
print(age)

Enter your age: 19
24

### Write a program in Python for data type conversion from: 
- int to string
- int to float
- string to int
- string to float
- float to int
- float to string

In [ ]:
a=10
print(str(a))
print(float(a))

b='20'
print(int(b))
print(float(b))

c=23.56
#write code here to convert float into integer
print(int(c))
#write code here to convert float into string

10
10.0
20
20.0
23

### Task1: 
#### WAP to display your infomation like (full name, branch, university name, age, 12th %, hobbies). Store each value into some meaningful variable.  the ouptput of the program should look like

My name is :
I am in CSE branch at (College/University) : 
I am 18 year old   
My Higher Secondary % is :
My hobbies are :

In [ ]:
# write your code after this line
name=input("enter the name")
branch=input("branch")
un=input("uni")
age=int(input("age"))
per=float(input("percentage 12:"))
print(type(age),type(per))
a=b+c
eval(5+0)

enter the nameJanesh
branchCSIT
uni12
age18
percentage 12:88
<class 'int'> <class 'float'>

TypeError: ignored

In [ ]:
# Python3 program to demonstarte 
# the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for acropolis."
                        .format("acropolis")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(18))

acropolis, A computer science portal for acropolis.
This article is written in Python
Hello, I am 18 years old !

In [ ]:
# Characters and their ASCII value

x=68
# print character corresponding to x 
print(chr(x))
char='D'
# print number corresponding to char
print(ord(char))

D
68

In [ ]:
# write code to print your name 10 times
print('ACROPOLIS'*10)

ACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLIS

In [ ]:
for i in range(5):
  print("*"*i)

*
**
***
****

In [ ]:
# use seperator and end with specific symbol
a, b, c = 10, 20, 30
print(a,b,c,sep=':',end=',')

10:20:30,

In [ ]:
for i in range(1,5):
    print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****

In [ ]:
# unpack characters
word = 'PYTHON'
a,b,c,d = word
print(a,b,c,d)

ValueError: ignored

### Format output

In [ ]:
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [ ]:
print('I like {0} and {1}'.format('ice cream','chocolate'))

I like ice cream and chocolate

In [ ]:
print('I like {1} and {0}'.format('ice cream','chocolate'))

I like chocolate and ice cream

In [ ]:
print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name = 'Sachin !'))

Hello Sachin !, Good morning

### Task3
Write a program for following
- Input: 'Python'
- Output: 642

In [ ]:
a,b,c,d,e,f='Python'
s=ord(a)+ord(b)+ord(c)+ord(d)+ord(e)+ord(f)
print(s)

642

In [ ]:
import math
print(math.sqrt(25))
#math.floor(10.8)
#math.ceil(10.5) 
math.pi

5.0

3.141592653589793

In [ ]:
import random
x = random.random() # generate any random number between 0 and 1
print("x = ", x)

y = random.randint(5,20)# generate any random number between 5 and 20
print("y = ", y)

x =  0.42791309172695347
y =  17

In [ ]:
import datetime

date = datetime.datetime.now().date() # YYYY-MM-DD format
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day

print(date)
print(year)
print(month)
print(day)

2022-04-23
2022
4
23

In [ ]:
import calendar

year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))

print(calendar.month(year, month))

Enter Year : 2002
Enter the Month : 12
   December 2002
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [ ]:
x=15246.59
y=14.156
print(format(x,'>20.1f'))
print(format(y,'>20.1f'))

print(format(x,'<20.1f'))
print(format(y,'<20.1f'))

print(format(x,'^20.1f'))
print(format(y,'^20.1f'))
z=20.745124

             15246.6
                14.2
15246.6
14.2
      15246.6
        14.2